{% extends 'base.html.twig' %}

{% block title %} Dice 21 {% endblock %}

{% block body %}

<h1>Resultat!</h1>
<p>Ditt resultat: {{ total }}</p>
<p>Datorns resultat: {{ totalComp }}</p>


{{ message }}

<p>{{ histogram }}</p>


{% endblock %}
