{% extends 'base.html.twig' %}

{% block title %} Projekt | MVC {% endblock %}

{% block body %}
    <h2>{{ info }}</h2>
    <p class="welcome">På denna sida kan du spela Dice 21 och Yatzy. Du har chansen att utmana
    datorn på Dice 21 och känner du dig modig nog kan du satsa Bitcoins i varje
    omgång.<br>
    Lyckas du få mer än 50 poäng i Yatzy visas ditt resultat upp i highscorelistan.
    Så se till att skriva in ditt namn innan du börjar spela för att det ska
    visas upp i listan!</p>

    <img class="dicesPic" src="dices.svg.png" alt="Dices">
{% endblock %}
