{% extends 'base.html.twig' %}

{% block title %} Yatzy {% endblock %}

{% block body %}
    <h2>{{ info }}</h2>
    <p>Få minst 50 poäng för att hamna på highscore listan!<br>
    Om du fyller i ditt namn nedan så visas det upp med ditt highscore.</p>
    <form method="POST">
        <label for="userName">Namn</label><br>
        <input type="text" id="userName" name="usr" value=" ">
        <input type="submit" value="Starta spelet!"></input>
    </form>
{% endblock %}
