<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">
    <a href="home" class="navbar-brand">MVC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#mobile-nav">
        <span class="navbar-toggle-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="home" class="nav-link">Hem</a>
            </li>
            <li class="nav-item">
                <a href="dice21" class="nav-link">Dice 21</a>
            </li>
            <li class="nav-item">
                <a href="yatzy" class="nav-link">Yatzy</a>
            </li>
            <li class="nav-item">
                <a href="highscore" class="nav-link">Highscore</a>
            </li>
        </ul>
    </div>
</div>
</nav>
